name: Generate PPTX from HTML

on:
  push:
    paths:
      - 'html_to_ppt/outhtml/**' # 只有當 HTML 資料夾變動時才執行
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm init -y
          npm install puppeteer pptxgenjs

      - name: Install Chinese Fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto-cjk fonts-noto-color-emoji

      - name: Run conversion script
        run: node scripts/convert.js

      - name: Upload PPTX Result
        uses: actions/upload-artifact@v4
        with:
          name: Anti-Scam-Presentation
          path: "*.pptx"
          retention-days: 7
